{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'diary/style.css' %}">
	<title>Diary Portal</title>
</head>
<body>
<center>
	<div class="boxed">
		
		<div class="column">
			<h4><b>
    			<form action="" method="post" name="placement_edit">
    			{{form.as_p}}
    			{% csrf_token%}
    				<input type="submit" value="LOGIN" class="btn btn-danger">
    			</form>
    		</b>	
			</h4>
    	</div>		
    
	</div>
</center>

</body>
</html>