{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'diary/style.css' %}">
	<title>Diary Portal</title>
</head>
<body>
    
    	<center>
        <div class="boxed">
          <div class="column">
    		<h2>CCD DIARY PORTAL</h2><br>

    	<a target="_self" class="btn btn-primary" role="button" href="{%url 'placement' %}" style="border-color: black; border-width: 2px;"><h3>Placement Portal</h3></a>
    	<br>
    	<hr width="80%" style="border-width: 2px; border-color: black;">
      	<a target="_self" class="btn btn-primary" role="button" href="{%url 'intern' %}" style="border-color: black; border-width: 2px;"><h3>Intern Portal</h3></a>
      </div></div>
      </center>
    
      	
      	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>